body{
    margin:0;
    padding: 0;
    background: #1e1e1e;
    overflow: hidden;
}
div{
    background: #37373d;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forward{
    height: 200px;
}
#backward{
    height: 150px;
}

/* Portrait */
@media screen and (orientation:portrait) {
    #left{ left: 30px; bottom: 30px; }
    #right{ right: 30px; bottom: 30px; }
    #forward{ left: 30px; top: 30px; }
    #backward{ right: 30px; top: 80px; }
}
/* Landscape */
@media screen and (orientation:landscape) {
    #left{ right: 160px; bottom: 30px; }
    #right{ right: 30px; bottom: 30px; }
    #forward{ left: 30px; bottom: 30px; }
    #backward{ left: 160px; bottom: 30px; }
}